html {
  scroll-behavior: smooth;
  color: #2d2d2d;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
}

main {
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  display: flex;
}

.article {
  border-radius: 4px;
  flex-direction: column;
  width: 424px;
  padding: 24px;
  display: flex;
  position: relative;
}

.article__body {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.article__list {
  flex-direction: column;
  gap: 12px;
  margin: 0 0 0 24px;
  padding: 0;
  display: flex;
}

.article__link {
  color: #2d2d2d;
  transition: all .3s ease-in;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.article__link:hover {
  transform: scale(1.2);
}

.article-1 {
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
  background-size: 94px 100px;
  border: 2px solid #179d2e;
  height: 527px;
}

.article-2 {
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
  background-size: 91px 100px;
  border: 2px solid #0177b8;
  height: 527px;
}

.article-3 {
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
  background-size: 123px 100px;
  border: 2px solid #f5af23;
  height: 527px;
}

.article-4 {
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
  background-size: 111px 100px;
  border: 2px solid #f02e2c;
  height: 545px;
}

.article-5 {
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
  background-size: 110px 100px;
  border: 2px solid #179d2e;
  height: 545px;
}

.article-6 {
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
  background-size: 117px 100px;
  border: 2px solid #0177b8;
  height: 545px;
}

.article-7 {
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
  background-size: 98px 100px;
  border: 2px solid #f5af23;
  height: 587px;
}

.article-8 {
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
  background-size: 116px 100px;
  border: 2px solid #f02e2c;
  height: 587px;
}

.article-9 {
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
  background-size: 94px 100px;
  border: 2px solid #179d2e;
  height: 587px;
}

.image {
  background-image: url("sprite.9c40b505.png");
  align-self: flex-end;
  height: 100px;
  margin-bottom: 24px;
}

.article-1__image {
  background-position: 0 0;
  width: 94px;
}

.article-2__image {
  background-position: -94px 0;
  width: 91px;
}

.article-3__image {
  background-position: -185px 0;
  width: 123px;
}

.article-4__image {
  background-position: -308px 0;
  width: 111px;
}

.article-5__image {
  background-position: -419px 0;
  width: 110px;
}

.article-6__image {
  background-position: -529px 0;
  width: 117px;
}

.article-7__image {
  background-position: -646px 0;
  width: 98px;
}

.article-8__image {
  background-position: -744px 0;
  width: 116px;
}

.article-9__image {
  background-position: -860px 0;
  width: 94px;
}

h2 {
  color: #181833;
  margin: 0;
  font-size: 36px;
  line-height: 43.2px;
}

@media (width <= 2500px) {
  .article-1, .article-2, .article-3, .article-4, .article-5, .article-6 {
    height: 587px;
  }
}

@media (width <= 1500px) {
  .article-3 {
    height: 587px;
  }
}

@media (width <= 600px) {
  .article-1, .article-2, .article-3 {
    height: 580px;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
