$image-height: 100px;
$image-widths: (
  1: 94px,
  2: 91px,
  3: 123px,
  4: 111px,
  5: 110px,
  6: 117px,
  7: 98px,
  8: 116px,
  9: 94px,
);
$articles: (
  1: "#179D2E",
  2: "#0177B8",
  3: "#F5AF23",
  4: "#F02E2C",
  5: "#179D2E",
  6: "#0177B8",
  7: "#F5AF23",
  8: "#F02E2C",
  9: "#179D2E"
);
$text-color: #2D2D2D;
$header-color: #181833;
